.cardimage{
    width: 100%;
    height: 100%;
}

.ant-card-body{
    padding: 10px;
    padding-left: 28px;
    height: 240px;
}

.left_menu{
    color: #424242;
}

.overview_dis{
    display: flex;
}

.ant-card-body {
    height: 240px;
}

/* .right_list{
    max-height: 600px;
    
} */

