.logo{
    align-items: center;
    display: flex;
    
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
}

.ant-menu-horizontal{
    padding-left: 20px;
}



.footer{
    text-align: center;
}

.register{
    float:right !important;
}

.topcontainer{
    padding-top: 10px;
    height: 535px;
}
/* .topimghandle{
    width: 100%;
    height:535px;
    display: block;
} */

.midcontainer{
    padding-top: 10px;
}

.leftContainer{
    width: 690px;
    height:455px;
    float: left;
}



.carousel2{
    width: 690px;
    height:455px;
    float: left;
}


.imghandle{
    width:100%;
    height:455px;
    display: block;
}

.newsList{
    float: left;
    text-align: left;
    font-size: 20px !important;
    margin-top: -5px;
}

.tabs_news{
    height:455px;
    float: left;
}

/* .ant-card{
    margin-top: 5px !important;
} */

.rowstyl{
    margin-top: 5px !important;
}

.ulstyl{
    margin-top: -15px;
    margin-left: -25px;
    
}

.ant-card-bordered {
    border: 1px solid #e8e8e8;
    padding-top: 10px;
    height: 410px;
}



.ant-tabs-nav-scroll {
    border-bottom: 0px;
}

.newsTitle{
    font-size: 20px !important;
    margin-bottom: 5px;
}

.ant-tabs-tab{
    font-size: 22px;
    
    
}

/* .menuPosition{
    margin:0 auto;

 } */

.link_fontsize{
    font-size: 20px;
}

/* .ant-menu-horizontal {
    border-bottom: 0px;
   
} */